<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stock Growth Predictor</title>
</head>

<body>
<header>
    <nav>
        <div class="logo">
            <figure>
                <img src="{{ url_for('static', filename='logo.png') }}">
            </figure>
            <p class="logo-title">Stock Growth Predictor</p>
        </div>
        <div class="burger-icon ">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="">
            <li><a href="index.html">home</a></li> 
            <li><a href="">trade</a></li>
            <li><a href="">blogs</a></li>
            <li><a href="">about</a></li>   
        </ul>
    </nav>
</header>
<section class="container">
    <div class="inner-container">
        <div class="left-section">
            <p class="tag-line">secure  and  safe  Service</p>
            <h1 class="hero-heading"><span>Make Better</span> Investment Decisions</h1>
            <p class="sub-heading">Offers the best stock predictions software for retail investors.This user-friendly<br>platform
                generates stock recommendations based on unconventional information such as social analysis,website analytics,job postings,employee sentiment and financial
                news mentions.
            </p>
            <div class="btn-group">
                <button onclick="gotosecondpage()"> <i class="fa-solid fa-play"></i>GET STARTED</button>
            </div>
        </div>
        <!-- right section -->
        <div class="right-section">
            <figure>
                <video autoplay loop muted  disablePictureInPicture controlsList="nodownload"  class="animation"><source src="{{ url_for('static', filename='vedio.mp4') }}"></video>

            </figure>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='script.js')}}"></script>
</body>

</html>